[Bb]in/
[Ob]j/
obj/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

packages/
*.nuget.props
*.nuget.targets
*.nuget.dgspec.json

*.log
.DS_Store
Thumbs.db

TestResults/
*.CodeAnalysisLog
*.lastcodeanalysissucceeded

*.userprefs
appsettings.Development.json

.env
